{% extends 'core/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="shoppingCart">
    <h2 class="font-bold bg-purple-600 text-center rounded-xl text-xl p-4">My Cart</h2>

    <div class="grid grid-cols-5 text-center font-bold bg-gray-400 rounded-xl text-xl p-4">
        <div><h4>Image</h4></div>
        <div><h4>Product's Name</h4></div>
        <div><h4>Quantity</h4></div>
        <div><h4>Unit Price</h4></div>
        <div><h4>Price</h4></div>
    </div>

    {% for cartItem in cartItems %}
    <div class="border border-gray-900 rounded-xl">
        <div class="grid grid-cols-5 text-center items-center">
            <div>
                <img src="{{ cartItem.item.image.url }}" alt="{{ cartItem.item.name }}" class="productImage h-16 w-16 mx-auto">
            </div>
            <div>{{ cartItem.item.name }}</div>
            <div>{{ cartItem.quantity }}</div>
            <div>{{ cartItem.item.price }}</div>
            <div>{{ cartItem.total_price }}</div>
        </div>
    </div>
    {% endfor %}

    <div class="font-semibold text-xl border border-gray-900 bg-gray-400 rounded-xl p-2">
        <h1>Total Price: {{ cart.totalPrice }}</h1>
    </div>

</div>
{% endblock %}

