{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div id="popup" class="hidden fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-75 flex items-center justify-center">
        <div class="bg-white rounded-lg p-6">
            <h2 class="text-xl font-semibold mb-2">Payment successful!</h2>
            <p>Your payment has been processed successfully.</p>
        </div>
    </div>  


    <div class="mt-6 px-6 py-12 bg-purple-600 rounded-xl">
        <h2 class="mb-12 text-2xl text-center font-semibold"> Categories </h2>

        <div class="grid grid-cols-3 gap-3 rounded-xl">
            {% for category in categories %}
                <div>
                    <a href="{% url 'item:items' %}?query=&category={{ category.id }}">
                        <div class="p-6 bg-white rounded-b-xl hover:bg-red-300 rounded-xl">
                            <h2 class="text-xl"> {{ category.name }} </h2>
                            <p class="text-gray-700"> Items: {{ category.items.count }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-purple-600 rounded-xl">
        <h2 class="mb-12 text-2xl text-center font-semibold"> Newest items </h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div> 
                            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-xl"> {{ item.name }} </h2>
                            <p class="text-gray-700"> Category: {{ item.category.name }} </p>
                            <p class="text-gray-700"> Price: {{ item.price }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        // Funzione per nascondere il popup
        function hidePopup() {
            var popup = document.getElementById("popup");
            popup.classList.add("hidden");
        }

        // Funzione per mostrare il popup e avviare il timer per nasconderlo
        function showPopup() {
            var popup = document.getElementById("popup");
            popup.classList.remove("hidden");

            // Nascondi il popup dopo 1 secondo
            setTimeout(hidePopup, 1500);
        }

        //aggiunta che non fa
        // Mostra il popup solo se il parametro show_popup è presente nell'URL
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('show_popup')) {
            showPopup();
        }
    </script>

{% endblock %}
